# Xcode


## User settings
xcuserdata/



## Obj-C/Swift specific
*.hmap

## App packaging
*.ipa
*.dSYM.zip
*.dSYM


.build/

# CocoaPods
#

#
Pods/
#

*.xcworkspace

FConstant.swift
GoogleService-Info.plist